.container {
  display: flex;
  height: 100vh;
}

.contentCalendario {
  flex: 1;
  display: flex;
  overflow-y: auto;
  max-width: 100%;

  .mainSection {
    padding: 1rem;
    width: calc(100% - 4rem);

    .topo {
      margin-bottom: 15px;
    }
  }
}